<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Jogo/novo" method="post">
        <div>
            <label for="nickname">jogoNickname: </label>
            <input type="text" id="nickname" name="nickname">
        </div>
        <div>
            <label for="nome">Nome: </label>
            <input type="text" id="nome" name="nome">
        </div>
        <div>
            <label for="nome">valorJogo: </label>
            <input type="text" id="nome" name="nome">
        </div>
        <div>
            <label for="nome">descricaoJogo: </label>
            <input type="text" id="nome" name="nome">
        </div>
        <input type="submit" value="Cadastrar"/>
    </form>
</body>
</html>